<div class="main-container">
    <div class="container">
        <div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" style="font-size:25px;">WELCOME</a>
                  </div>
                </div>
            </nav>
        </div>
        <div>
            <h3 style="color: white;">SELECT YOUR LANGUAGE</h3>
        </div>
        <div class="button-panel" align="center">
            <button id="btnsinhala" type="button" class="mat-button" (click)="toggle()">SINAHALA</button><br><br>
            <button id="btnEnglish" type="button" class="mat-button" (click)="toggle()">ENGLISH</button><br><br>
            <button id="btnTamil" type="button" class="mat-button" (click)="toggle()">TAMIL</button><br><br>
          </div>
    </div>
    <div class="container">
        <ng-container *ngIf="show">
            <div class="wrapper">
                <div class="grid-items">DEPOSIT MONEY</div>
                <div class="grid-items">WITHDRW MONEY</div>
                <div class="grid-items">LOAN SERVICE</div>
                <div class="grid-items">CHEQUE DETAILS</div>
              </div><br><br><br><br>
              <div class="proceed" align="center">
                <button id="btnProceed" type="button" class="mat-button">PROCEED</button>
            </div>
        </ng-container>
    </div>
</div>
